.watch {
  width: 100vh;
  height: 100vh;
  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    z-index: 2;
    margin-top: 50px;
  }
  .video {
    width: 200%;
    height: 99%;
    object-fit: cover;
  }
}